
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Welcome @Session["Name"]</h1></center>

<center>
<img src="~/Content/LoginContent/images/signup-image.jpg" alt="sing up image">

</center>

